body {
    background: rgb(10,166,191);
    background: linear-gradient(90deg, rgba(10,166,191,0.38988095238095233) 0%, rgba(173,173,196,1) 12%, rgba(161,212,222,0.5075280112044818) 96%);
}

.resume-popup {
    display: none;
    position: absolute;
    z-index: 9999; /* По-висок z-index за да излиза най-отгоре */
    top: 0; /* Позициониране отгоре */
    left: 0; /* Позициониране отляво */
    border-radius: 10px;
    width: 500px;
  }

  .checked {
    color: orange;
    }
